.Header {
  text-align: center;
}

.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25px;
}

.Header-header {
  background-color: #00B140;
  height: 35px;
  padding: 20px;
  color: white;
}
